{% extends 'base.html' %}

{% block content %}
  <h2>{{ room.name }}</h2>
  <div id="messages">
    {% for message in room.messages.all %}
      <div class="message">
        <span class="author">{{ message.author.username }}</span>
        <span class="timestamp">{{ message.timestamp }}</span>
        <span class="content">{{ message.content }}</span>
      </div>
    {% endfor %}
  </div>
  <form id="message-form">
    {% csrf_token %}
    <input type="text" name="message-input" id="message-input">
    <button type="submit">Send</button>
  </form>
{% endblock %}
