{% extends 'base.html' %}


{% block content %}
{{ super() }}
<p>Торговля</p>

<div class="cards">
  <div class="product-card">
    <img src="static\image\1.webp" alt="Card Image">
    <h3>CHEVROLET COLORADO</h3>
    <p>Актуальная информация по моделе.</p>

  </div>
  <div class="product-card">
    <img src="static\image\2.webp" alt="Card Image">
    <h3>FORD KA</h3>
    <p>Актуальная информация по моделе.</p>

  </div>
  <div class="product-card">
    <img src="static\image\3.webp" alt="Card Image">
    <h3>VW POLO</h3>
    <p>Актуальная информация по моделе.</p>
  </div>
</div>

{% endblock %}