{% extends 'album/base.html' %}
{% block content %}
{% load static %}
<main>
    <section class="menu section-padding">
        <div class="container">
            <div class="row">
                <div class="search">
                <form class="search-form">
                    <input type="text" class="search-field" name="search_query" value="{{search_query}}" placeholder="Search...">
                    <button type="submit" class="search-button" value="Search">ПОИСК</button>
                </form>
                    </div>
                <div class="col-12">
                    <h2 class="mb-lg-5 mb-4">Наш ассортимент</h2>
                    </div>
                    <div class="product-container">
                        {% for project in projects %}
                        <div class="product-card">
                            <a href="{% url 'single-card' project.id %}" class="item">
                                <img src="{{ project.featured_image.url }}" alt="Product Image">
                                <p>id:{{project.id}}</p>
                                <h5>{{project.title}}</h5>
                                <h6>${{project.price}}</h6>
                            </a>
                    </div>
                {% endfor %}
            </div>

        </div>
        </div>

    </section>

</main>
{% endblock %}
